<section id="content" class="row bloc-page">
	
	<div id="color-background">
		{{>navbar}}

		<h1 class="title inpact-w typo-center margin-huge">Register a free account</h1>	
	</div>

	<form class="col-lg-offset-4 col-lg-4 bloc">
	  <paper-shadow z="1"></paper-shadow>

		<a href="/auth/local"><paper-button label="flat button" class="btn-blue btn fw" raisedButton>Email</paper-button></a>
		<a href="/auth/google"><paper-button label="flat button" class="btn-google btn fw" raisedButton>Google</paper-button></a>
		<a href="/auth/facebook"><paper-button label="flat button" class="btn-facebook btn fw" raisedButton>Facebook</paper-button></a>
	
	</form>

</section>