<!doctype html>
<html ng-app="noomey">
  <head>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="/webapp/app.js"></script>
    <script src="/webapp/controllers/dashboardController.js"></script>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>

  	<script>var jwt = "{{jwt}}";</script>

	  <div ng-view></div>

  </body>
</html>